! Xft settings ---------------------------------------------------------------
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xcursor.theme:  Human

! xscreensaver ---------------------------------------------------------------

!font settings
xscreensaver.Dialog.headingFont: -*-play-bold-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont: -*-play-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont: -*-play-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont: -*-play-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont: -*-play-bold-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont: -*-play-medium-r-*-*-14-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont: -*-play-bold-r-*-*-14-*-*-*-*-*-*-*
!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground: #14ae76
xscreensaver.Dialog.background: #dadada
xscreensaver.Dialog.topShadowColor: #f9f9f9
xscreensaver.Dialog.bottomShadowColor: #f9f9f9
xscreensaver.Dialog.Button.foreground: #666666
xscreensaver.Dialog.Button.background: #f9f9f9
!username/password input box and date text colour
xscreensaver.Dialog.text.foreground: #666666
xscreensaver.Dialog.text.background: #f9f9f9
xscreensaver.Dialog.internalBorderWidth:24
xscreensaver.Dialog.borderWidth: 20
xscreensaver.Dialog.shadowThickness: 2
!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground: #14ae76
xscreensaver.passwd.thermometer.background: #000000
xscreensaver.passwd.thermometer.width: 8
!datestamp format--see the strftime(3) manual page for details
xscreensaver.dateFormat: %I:%M%P %a %b %d, %Y
xscreensaver.hintstyle:  none
